:root{
    --green:#27ae60;
    --dark-color:#219150;
    --light-color:#666;
    --border:.1rem solid var(--black);
    --border-hover:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}


.test-slide .slides-wrapper .slides {
    display: grid;
    gap:1.5rem;
    padding:2rem 0;
    margin:2rem 0;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.test-slide .slides-wrapper .slides .slide {
    box-shadow: 0 0 15px 2px #000;
}

.test-slide .slides-wrapper .slides .slide:hover{
    border:var(--border-hover);
}

.test-slide .slides-wrapper .slides .slide .image{
    width: 100%;
    overflow: hidden;
}

.test-slide .slides-wrapper .slides .slide .image img{
    height: 100%;
    width: 100%;
    transition: all 0.8s;
}

.test-slide .slides-wrapper .slides .slide:hover .image img{
    transition: all 0.8s;
    transform: scale(1.2);
}

.test-slide .slides-wrapper .slides .slide .content{
    padding:1.5rem;
}

.test-slide .slides-wrapper .slides .slide .content h3{
    font-size: 1.417rem;
    font-weight: 550;
    color:var(--black);
}

.test-slide .slides-wrapper .slides .slide .content p{
    font-size: 1.083rem;
    font-weight: 550;
    color:var(--light-color);
    padding:1rem 0;
    line-height: 1;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.4rem 0.8rem;
    border-radius: 7rem;
    color:#fff;
    background:var(--green);
    font-size: .75rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}

/* Media Queries  */
@media screen and (min-device-width: 640px) and (max-width: 1023px) {
    .test-slide .slides-wrapper .slides {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr 0px 0px 0px 0px 0px;
        overflow: hidden;
    }


    .test-slide .slides-wrapper .slides .slide .image{
        max-height: 170px;
    }
}

@media screen and (min-device-width: 100px) and (max-width: 639px) {
    .test-slide .slides-wrapper .slides {
        grid-template-columns: repeat(1, 1fr);
    }

    .test-slide .slides-wrapper .slides .slide .image{
        max-height: 225px;

    }
}
