html, body{
    margin : 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
    font-family: "Avenir Next", Roboto, cursive, Arial, sans-serif;

}

.form_VStack{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0px;
}

.form_html {
    background-color: red;
}